{% extends "layout.html" %}

{% block content %}
  <div class="content-section">
      <form action="" method="POST" enctype="multipart/form-data">
           {{ form.hidden_tag() }}
           <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;">{{ legend }}</legend>
              
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                       {% for error in form.title.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                   {% endif %}

                </div>
                <div class="form-group">
                    {{ form.pages.label(class="form-control-label") }}
                    {% if form.pages.errors %}
                    {{ form.pages(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                       {% for error in form.pages.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                    </div>
                    {% else %}
                    {{ form.pages(class="form-control form-control-lg") }}
                   {% endif %}

                    
                </div>
                <div class="form-group">
                    {{ form.image.label(class="form-control-label") }}
                    {% if form.image.errors %}
                    {{ form.image(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                       {% for error in form.image.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                    </div>
                    {% else %}
                    {{ form.image(class="form-control form-control-lg") }}
                   {% endif %}

                    
                </div>
                <div class="form-group">
                  {{ form.description.label(class="form-control-label") }}
                  {% if form.description.errors %}
                  {{ form.description(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                     {% for error in form.description.errors %}
                     <span>{{ error }}</span>
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form.description(class="form-control form-control-lg") }}
                 {% endif %}

                  
              </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                       {% for error in form.content.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                    </div>
                    {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                   {% endif %}

                    
                </div>
           </fieldset>
           <div class="form-group mt-3" style="text-align: center;">
              {{ form.submit(class="btn btn-outline-info w-25",value="Create Book" if is_editing else "Update Book") }}
           </div>
           
      </form>
     
  </div>
  
{% endblock content %}

